{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="main">
    <a class="uk-button uk-button-secondary" href="{{ path('add_article') }}">Ajouter un article</a>
</div>

{% endblock %}
